[hosts]

# Group for development machines
[hosts.development]
ip_ranges = ["10.8.0.0/24"]
ignored = ["10.8.0.10", "10.8.0.120"]
ports = ["9100"]

# Group for production machines
[hosts.production]
ip_ranges = ["10.10.0.0/24"]
ports = ["9100"]
